body, h1, h2, h3, h4, h5, p, a, ul, ol {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS";
	font-size: 18px;
}

img {
	max-width: 100%;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}