.button {
	background: var(--c-yellow-gradient);
	padding: 15px;
	border-radius: 4px;
	color: var(--c-black);
	display: flex;
	justify-content: space-between;
	font-size: 16px;
}

.button__divider {
	width: 1px;
	margin: 0px 15px;
	background-color: var(--c-black);
	display: block;
}

.button.-transparent {
	background: transparent;
}

.button.-white {
	color: var(--c-white);
}

.button.-s {
	font-size: 12px;
}

@media screen and (max-width: 1023px) {
	.button {
		font-size: 15px;
	}
}

@media screen and (max-width: 767px) {
	.button {
		font-size: 14px;
	}
}