.form {
	width: 50%;
	margin-bottom: 20px;
}

input {
	font-size: 14px;
	margin-right: 16.5px;
	width: 45%;
	padding: 15px;
	background: var(--c-gray-dark);
	border: 0px;
	border-radius: 5px;
}

@media screen and (max-width: 767px) {
	.form {
		width: 100%;
	}

	input {
		width: 100%;
		margin-bottom: 15px;
	}
}