.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 10%;
}

.header__partners {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
