.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 15%;
}

.actions__divider {
	width: 1px;
	height: 30px;
	background: var(--c-white);
}

.header__lang {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--c-white);
	margin-right: 10px;
	padding-right: 20px;
	position: relative;
}

.lang__info {
	font-size: 12px;
}

.header__lang:before {
	right: 6px;
	position: absolute;
	display: block;
	content: "";
	width: 1px;
	height: 10px;
	transform: rotate(-45deg);
	background: var(--c-white);
}

.header__lang:after {
	right: 0px;
	position: absolute;
	display: block;
	content: "";
	width: 1px;
	height: 10px;
	transform: rotate(45deg);
	background: var(--c-white);
}

.header__partners {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__partner {
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.header__partner:last-child {
	margin-right: 0px;
}