.scroll {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 60px;
}

.scroll__arrow {
	width: 25px;
	height: 1px;
	background: var(--c-white);
	position: relative;
}

.scroll__arrow:before {
	display: block;
	content: "";
	background: var(--c-white);
	width: 1px;
	height: 18.5px;
	transform: rotate(-45deg);
	position: absolute;
	left: 5px;
	top: -2px;
}

.scroll__arrow:after {
	display: block;
	content: "";
	background: var(--c-white);
	width: 1px;
	height: 18.5px;
	transform: rotate(45deg);
	position: absolute;
	right: 5px;
	top: -2px;
}