.section {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.section.-main {
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-image: url(../img/main_bg.jpg);
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
}