.section {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.section.-main {
	height: calc(100vh - 100px);
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-image: url(../img/main_bg.jpg);
}

.section.-about {
	background-image: url(../img/about_bg.jpg);
}

.section.-features {
	background-image: url(../img/features_bg.jpg);
}

.section.-requirements {
	background-image: url(../img/requirements_bg.png);
}

.section.-quotes {
	background-image: url(../img/quotes_bg.jpg);
}

.content {
	display: flex;
	justify-content: space-between;
}

.content.-col {
	justify-content: unset;
	flex-direction: column;
	align-items: center;
}

.content.-start {
	display: flex;
	justify-content: flex-start;
	width: 100%;
}

@media screen and (max-width: 767px) {
	.section {
		align-items: unset;
	}

	.content {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	.content.-col {
		padding-top: 20px;
	}
}