.slider {
	width: 55%;
	position: relative;
}

.slider__item {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 10px;
}

.slider__item:first-child {
	left: 2%;
	z-index: 5;
	width: 70%;
}

.slider__item:nth-child(2) {
	left: 20%;
	z-index: 4;
	width: 60%;
}

.slider__item:nth-child(3) {
	left: 27%;
	z-index: 3;
	width: 60%;
}

.slider__controls {
	position: absolute;
	bottom: -5%;
	left: 12%;
	display: flex;
	justify-content: space-between;
	width: 50%;
	z-index: 6;
}

.slider__control {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid var(--c-white);
}

.slider__control.-active {
	background: var(--c-white);
	position: relative;
}

.slider__control.-active:after {
	display: block;
	content: "";
	top: 50%;
	transform: translateY(-50%);
	right: 0px;
	width: 25px;
	height: 2px;
	background: var(--c-white);
}

.slider__next {
	width: 1px;
	height: 25px;
	background: var(--c-white);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 2%;
}

.slider__next:before {
	display: block;
	content: "";
	background: var(--c-white);
	width: 1px;
	height: 20px;
	transform: rotate(135deg);
	position: absolute;
	left: 7px;
	top: -4px;
}

.slider__next:after {
	display: block;
	content: "";
	background: var(--c-white);
	width: 1px;
	height: 20px;
	transform: rotate(-135deg);
	position: absolute;
	left: 7px;
	bottom: -4px;
}

@media screen and (max-width: 1200px) {
	.slider__controls {
		bottom: 5%;
	}
}

@media screen and (max-width: 1023px) {
	.slider__item:first-child {
		width: 75%;
	}

	.slider__item:nth-child(2) {
		width: 65%;
	}

	.slider__item:nth-child(3) {
		width: 60%;
		left: 31%;
	}

	.slider__controls {
		bottom: 10%;
	}
}

@media screen and (max-width: 890px) {
	.slider__item:first-child {
		width: 83%;
	}

	.slider__item:nth-child(2) {
		width: 73%;
	}

	.slider__item:nth-child(3) {
		width: 68%;
	}

	.slider__next {
		right: -5px;
	}
} 

@media screen and (max-width: 767px) {
	.slider {
		width: 100%;
		height: 75px;
	}

	.slider__item:first-child {
		left: 22%;
		width: 40%;
	}

	.slider__item:nth-child(2) {
		left: 35%;
		width: 35%;
	}

	.slider__item:nth-child(3) {
		width: 30%;
		left: 45%;
	}

	.slider__next {
		right: 20%;
	}

	.slider__controls {
		bottom: -95%;
		left: 26%;
		width: 30%;
	}

	.slider__control.-active:after {
		width: 20px;
	}
}

@media screen and (max-width: 600px) {
	.slider__controls {
		bottom: -80%;
	}

	.slider__control.-active:after {
		width: 15px;
	}
}

@media screen and (max-width: 460px) {
	.slider__item:first-child {
		left: 22%;
		width: 45%;
	}

	.slider__item:nth-child(2) {
		left: 35%;
		width: 40%;
	}

	.slider__item:nth-child(3) {
		width: 35%;
		left: 47%;
	}

	.slider__controls {
		left: 30%;
		bottom: -70%;
	}

	.slider__next {
		right: 10%;
	}
}

@media screen and (max-width: 405px) {
	.slider__item:first-child {
		left: 10%;
		width: 55%;
	}

	.slider__item:nth-child(2) {
		left: 27%;
		width: 47%;
	}

	.slider__item:nth-child(3) {
		width: 40%;
		left: 42%;
	}

	.slider__controls {
		width: 40%;
		left: 18%;
	}
}