.slider {
	width: 55%;
	position: relative;
}

.slider__item {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 10px;
}

.slider__item:first-child {
	left: 2%;
	z-index: 5;
	width: 70%;
}

.slider__item:nth-child(2) {
	left: 20%;
	z-index: 4;
	width: 60%;
}

.slider__item:nth-child(3) {
	right: 12%;
	z-index: 3;
	width: 60%;
}

.slider__controls {
	position: absolute;
	bottom: -5%;
	left: 12%;
	display: flex;
	justify-content: space-between;
	width: 50%;
	z-index: 6;
}

.slider__control {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid var(--c-white);
}

.slider__control.-active {
	background: var(--c-white);
	position: relative;
}

.slider__control.-active:after {
	display: block;
	content: "";
	top: 50%;
	transform: translateY(-50%);
	right: 0px;
	width: 25px;
	height: 2px;
	background: var(--c-white);
}

.slider__next {
	width: 1px;
	height: 25px;
	background: var(--c-white);
	position: absolute;
	top: 50%;
	right: 2%;
}

.slider__next:before {
	display: block;
	content: "";
	background: var(--c-white);
	width: 1px;
	height: 20px;
	transform: rotate(135deg);
	position: absolute;
	left: 7px;
	top: -4px;
}

.slider__next:after {
	display: block;
	content: "";
	background: var(--c-white);
	width: 1px;
	height: 20px;
	transform: rotate(-135deg);
	position: absolute;
	left: 7px;
	bottom: -4px;
}

@media screen and (max-width: 1200px) {
	.slider__controls {
		bottom: 5%;
	}
}

@media screen and (max-width: 1023px) {
	.slider__controls {
		bottom: 10%;
	}
}

@media screen and (max-width: 890px) {
	.slider {
		width: 50%;
	}
}