@font-face {
	font-family: "Bebas Neue";
	src: url("../fonts/BebasNeue-Regular.ttf");
	/*font-style: cursive;*/
}

.title {
	font-size: 80px;
	margin-bottom: 10px;
	font-weight: bold;
	font-family: "Bebas Neue";
	color: var(--c-white);
	text-transform: uppercase;
	letter-spacing: 3px;
}

.subtitle {
	font-size: 24px;
	margin-bottom: 10px;
	font-weight: bold;	
	font-family: "Bebas Neue";
	color: var(--c-white);
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
}

.text {
	color: var(--c-white);
	font-family: "Open Sans";
}

.text__bold {
	font-weight: bold;
}

.text__underlined {
	position: relative;
}

.text__underlined:after {
	position: absolute;
	bottom: 0px;
	left: 1px;	
	display: block;
	content: "";
	height: 5px;
	width: 100%;
	background: var(--c-yellow-gradient);
	white-space: nowrap;
}

@media screen and (max-width: 1023px) {
	.title {
		font-size: 65px;
	}

	.subtitle {
		font-size: 22px;
	}

	.text {
		font-size: 15px;
	}
}

@media screen and (max-width: 767px) {
	.title {
		font-size: 50px;
	}

	.subtitle {
		font-size: 20px;
	}
}

@media screen and (max-width: 450px) {
	.title {
		font-size: 32.5px;
	}

	.subtitle {
		font-size: 15px;
	}
}